{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartGame</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <div class="compra_exitosa">
    <h1 class="titulo_compra">COMPRA EXITOSA!!!!</h1>
    <img src="../static/img/final.gif" alt="git_control_nintendo">
    <a href="{% url 'index' %}" class="btn-iniciar-sesion btn btn-secondary mt-3 w-30">Ir al inicio</a>
    </div>

</body>
</html>