{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartGame</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">


</head>
<body>
    <h2 class="fs-1 text fw-bold text-light"> Administrar Usuarios </h2>
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'formulario' %}" class="btn btn-success">
            + Nuevo Usuario
        </a>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Rol</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
          <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.usuario }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.correo }}</td>
            <td> {% if usuario.rol == 1 %}Administrador
                {% elif usuario.rol == 2 %}Editor
                {% else %}Invitado{% endif %}</td>
                <td><a href="{% url 'formulario' %}" class="btn btn-sm btn-primary">Editar</a>
                  <a href="#" class="btn btn-sm btn-danger eliminar_usuario" data-id="{{ usuario.id }}" onclick="return false;">Eliminar</a>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">No hay usuarios registrados.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <a href="{% url 'index' %}" class="btn-iniciar-sesion btn btn-secondary mt-3 w-30">Ir al inicio</a>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="{% static 'js/eliminar_usuario.js' %}"></script> 
</body>
</html>