{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartGame</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <h1 class="titulo_compra">¿Quieres obtener este juego?</h1>
    <div class="btn-aceptar-rechazar">
        <a href="{% url 'acepta' %}"class="btn-iniciar-sesion btn btn-secondary mt-3 w-30">Si, me lo llevo!</a>
        <a href="{% url 'index' %}"class="btn-iniciar-sesion btn btn-secondary mt-3 w-30">No estoy seguro</a>
    </div>
    <a href="{% url 'index' %}" class="btn-iniciar-sesion btn btn-secondary mt-3 w-30">Ir al inicio</a>
</body>
</html>