* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    background-color: #17112e !important;
}

/**********BUSCADOR***********/
.navbar {
    width: 100%;
    background-color: #37398d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px -5px 10px rgba(255, 255, 255, 0.5);
}


.buscador {
    display: flex;
}

.buscador input {
    padding: 8px;
    border: 1px solid #4b5b92;
    border-radius: 20px;
    outline: none;
    margin-right: 10px;
    width: 40vh;
}

.buscador button {
    padding: 8px 15px;
    border: 1px solid #5254cb;
    background-color: white;
    color: #1414c6;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.buscador button:hover {
    background-color: #5254cb;
    color: white;
}

/****************BOTONES*****************/
.btn-iniciar-sesion{
    padding: 8px 15px;
    border: 1px solid #5254cb;
    background-color: white;
    color: #1414c6;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-iniciar-sesion:hover{
    background-color: #5254cb;
    color: white;
}

.btn-registro {
    padding: 8px 15px;
    border: 1px solid #5254cb;
    background-color: white;
    color: #1414c6;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;

}

.btn-registro:hover{
    background-color: #5254cb;
    color: white;
}


.iniciar{
    padding-right: 20px;
}

/**************INPUT****************/
input{
width: 15%;
border: 1px solid #ccc;
padding: 8px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

.img_logo{
    width: 150px;
    padding-left: 20px;
}


/**************CATEGORIAS********************/
.categorias_lista {
    width: 100%;
    display: grid;
    align-items: center;
    margin: auto;
}

.categorias {
    display: flex;
    justify-content: column;
    width: 100%;
    align-items: center;
}

.categorias-label{
    padding: 40px;
    font-size: x-large;
    color: white;
}

.categoria {
    margin: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.473);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: large;
    text-decoration: none;
}

.categoria:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.81);
}

.categoria_detalle{
    display: flex;

    img {
        width: 150px;
        height: 150px;
        border-radius: 10px;
    }
}

.categoria_detalle {
    display: block;
    text-decoration: none;
    color: inherit;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    transition: 0.3s;
}


.categoria:visited {
    color: white
}

.contenedor-categoria{

    display: flex;
    flex-direction: column;
    align-items: center;

}
.categoria_img {
    width: 40%;
    height: 40%;
    border-radius: 10px;
}

.categoria-info h3 {
    color: #17112e;
}
.categoria-info b {
    color: #a008a8;
}

.error-message {
    font-size: 14px;
    display: none;
}

.is-invalid{
    border: white solid 2px;
}
 
input{
    outline: none
}

/**********PASOS FINALES*******************/

.titulo_compra{
    color: white;
    margin-top: 50px;
}
.compra_exitosa{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*************RESPONSIVE***********/

@media screen and (max-width: 788px) {
    .buscador{
        display: none;
    }
}